
/* TITULO DEL JUEGO SART */

.fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(146, 221, 220, 0.8); 
    color: #205251; 
    padding: 10px 0;
    z-index: 1050; 
}

.title-text {
    font-size: 5rem; 
    margin: 0; 
}


/* TITULO DEL JUEGO END */




body {
    margin-top: 60px;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

body {
    cursor: url('assets/cursor.png'), auto;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.splash-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

/* Texto del título */
.splash-text {
    text-align: center;
    font-size: 4rem; 
    color: white; 
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 5s, transform 5s;
    z-index: 2; 
}

.smoke {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #c8f3f1;
    border-radius: 50%;
    transform: scale(1);
    animation: smokeAnimation 1s ease-out;
    z-index: 2; 
}

@keyframes smokeAnimation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(30);
        opacity: 0;
    }
}




/* Tamaño de caja - listo! */
#start-screen, #game-screen, #end-screen {
    text-align: center;
    background-color: rgba(203, 235, 234, 0.8);
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    max-width: 500px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

/* Tamaño de caja - listo! */
#player-name {
    font-size: 1.9rem;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#start-button, #restart-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #a5dddc;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    box-sizing: border-box;
}


/* Sombreado del "comenzar": listo */
#start-button:hover, #restart-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#start-button:active, #restart-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}






#game-screen {
    background-color: #c8f3f1;
    background: linear-gradient(to bottom, #72b1ad, #55928f);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 900px;
    margin: 20px;
    z-index: 2; 
}

.text-box {
    background-color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
    width: 100%;
    box-sizing: border-box;
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2; 
    line-height: 2; /* interlineado */
}

.text-box.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.text-box.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.event-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.intro-text {
    font-size: 1.8rem;
    line-height: 1.6; /*  interlineado!!! ACA!!! */
}

.options-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.event-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #a5dddc;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 10px;
    flex: 1 1 45%;
    box-sizing: border-box;
    z-index: 2; 
}

.event-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.event-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ending-message {
    font-size: 1.5rem;
    line-height: 1.6; 
}

.ending-image {
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .event-text, .intro-text, .ending-message {
        font-size: 1.2rem;
        line-height: 1.6; 
    }

    .event-button, #start-button, #restart-button {
        font-size: 1.2rem;
        padding: 8px 16px;
        width: 90%; /* Aumenta el ancho para mejor accesibilidad */
    }

    .text-box {
        padding: 8px;
        font-size: 1rem; /* Reduce el tamaño del texto para ajustar más contenido */
    }

    #game-screen, #start-screen, #end-screen {
        width: 95%; /* Utiliza un porcentaje más alto para utilizar más espacio */
        max-width: none; /* Elimina el ancho máximo para permitir el uso completo del espacio disponible */
    }

    .ending-image {
        width: 60px; /* Ajusta el tamaño de la imagen para dispositivos pequeños */
        height: 60px;
    }
}
